<template>
  <section class="au-enter-active">
      <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#unit4">Unit4</a>
                      </h4>
                  </div>
                  <div id="unit4" class="panel-collapse collapse in">
                      <div class="panel-body">
                          <p>Unit4</a></p>
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#adecco">Adecco</a>
                      </h4>
                  </div>
                  <div id="adecco" class="panel-collapse collapse">
                      <div class="panel-body">
                          <p>Adecco</p>
                      </div>
                  </div>
              </div>
          </div>
  </section>
</template>
